<div class="mn-need-bar mn-need-bar--vertical" data-need-id="{{id}}" data-entity-id="{{entityId}}" data-severity="{{severity}}" data-tooltip="{{localizedLabel}}: {{percentageLabel}}">
  <div class="mn-need-bar__head">
    <span class="mn-need-bar__icon" data-severity="{{severity}}">
      <i class="fas {{icon}}"></i>
    </span>
    <span class="mn-need-bar__label">{{localizedLabel}}</span>
  </div>

  <div class="mn-need-bar__track">
    <div class="mn-need-bar__fill"
         data-severity="{{severity}}"
         style="transform: scaleY({{decimal}})">
    </div>
  </div>

  <span class="mn-need-bar__value" data-severity="{{severity}}">{{percentageLabel}}</span>

  <div class="mn-need-bar__controls">
    <button type="button"
            class="mn-need-bar__btn mn-need-bar__btn--relieve"
            data-action="relieve"
            data-entity-id="{{entityId}}"
            data-need-id="{{id}}"
            data-tooltip="{{localize 'MORTAL_NEEDS.Actions.Relieve'}}">
      <i class="fas fa-minus"></i>
    </button>
    <button type="button"
            class="mn-need-bar__btn mn-need-bar__btn--stress"
            data-action="stress"
            data-entity-id="{{entityId}}"
            data-need-id="{{id}}"
            data-tooltip="{{localize 'MORTAL_NEEDS.Actions.Stress'}}">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
